
@{
    ViewBag.Title = "Index";
    Layout="~/Views/Shared/_LayoutLogin.cshtml";
}



<div class="row">
    <form id="frm" action="@Url.Action("Enter", "Access")" method="post">
        <div class="col-lg-6 col-lg-offset-3">
            User
            <input type="text" name="user" id="user"/>
            Password
            <input type="password" name="password" id="password" />
            <input type="submit" valur="Enter" class="btn btn-success"/>
        </div>
    </form>
</div>


